.Footer {
    background-color: #404041;

}
.Footer .inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.Footer div {
    flex-grow: 1;
}
.Footer div {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    text-align: left;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.Footer div ul {
    list-style-type: none;
}

.Footer div ul li{
    text-align: left;
    color: white;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;

}
.Footer div h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: lighter;

    
}

.Footer div h3 {
    color: #42b098;
    margin: 0;
    padding: 0;
}
.Footer div.subscribe { flex-grow: 3;}

.Footer div.subscribe input {
    border: none;
    background: white;
    height: 38px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 60%;
    
}

.Footer div.subscribe button {
    width: 40%;
    background: #42ccae;
    height: 38px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: lighter;

}

