.HowItWorks {
    background-image: url("/images/gray-bg_21.png");
    padding-bottom: 100px;
}
.HowItWorks ul li {
    display: inline-block;
    background-color: #42ccae;
    width: 250px;
    margin: 4%;
    margin-left: 5%;
    
}
.HowItWorks h2, .HowItWorks h3 {
    margin:0;
    padding: 0;
    padding: 2%;
    font-size:  1.5em;
    font-family: 'Montserrat', sans-serif;
    line-height: 0.5em;
}

.HowItWorks ul li img {
    width: 100%;
}
.HowItWorks button{
    margin: 5% 0 4% 0;
}

@media screen and (min-width: 1600px) { .HowItWorks { padding-top: 30%; } }
@media screen and (min-width: 1200px) and (max-width: 1600px) { .HowItWorks { padding-top: 35%; } }
@media screen and (min-width: 800px) and (max-width: 1200px) { .HowItWorks { padding-top: 50%; } }

@media screen and (min-width: 500px) and (max-width: 800px) { .HowItWorks { padding-top: 90%; } .HowItWorks h2, .HowItWorks h3 { line-height: 1em;} }
@media screen and (min-width: 400px) and (max-width: 500px) { .HowItWorks { padding-top: 150%; } .HowItWorks h2, .HowItWorks h3 { line-height: 1em;} }
@media screen and (max-width: 400px) { .HowItWorks { padding-top: 150%; } .HowItWorks h2, .HowItWorks h3 { line-height: 1em;} }
